.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen de fondo en la ventana gráfica */
    filter: brightness(110%) saturate(120%);
}

/* Asegura que el contenido ocupe toda la altura de la ventana gráfica */
.js-fullheight {
    height: 100vh; /* 100% de la altura de la ventana gráfica */
    display: flex;

}

.container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80%;
    border: unset !important;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Set the background color if not already defined */  
    border-radius: 20px; 
}
    
.card-body {
    text-align: center; /* Centra el texto dentro de la tarjeta */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: unset !important; 
}
.text-center h5{
    font-family: "Rubik", Medium;
    font-weight: 500; 
    font-size: 30px;
}
.text-cuenta p{
    color: black !important;
    display: inline-block; /* Makes stars behave like inline elements */
   /* text-align: left;*/
    margin-top: 0;
    margin-bottom:0;
    font-family: "Rubik", Light;
    font-weight: 300;
    font-size: 25px !important; /* Increase font size */
    
    /*margin: 0; /* Remove top and bottom margins */
    text-align: center; /* Justify text to fill the container */
  }
  .text-cuenta-b p{
    color: black !important;
    padding-top: 20px;
    display: inline-block; /* Makes stars behave like inline elements */
   /* text-align: left;*/
    margin-top: 0;
    margin-bottom:0;
    font-family: "Rubik", Light;
    font-weight: 300;
    font-size: 20px !important; /* Increase font size */
    /* line-height: 1.5; Increase line spacing for readability */
    /*margin: 0; /* Remove top and bottom margins */
    text-align: left; /* Justify text to fill the container */
  } 
  .form-login input{
    width: 50%;
    text-align: center; /* Justify text to fill the container */
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    outline: none;
    flex: 5px;
    align-items: center !important;
    margin: 0;
}  
.form-a a {
    margin: 0;
    color:rgb(135, 32, 82); 
    text-align: right;
    font-size: 0.8em !important; /* Increase font size */
    align-items: right;
    margin-left: 260px !important;
 }

    
 .form-group button.btn-primary.submit {
    background-color: rgb(135, 32, 82) !important; /* Primary blue color */
    color: white !important; /* White text color */
    border-color: rgb(135, 32, 82); /* Maintain border color consistency */
    text-align: center; /* Center the text within the button */
    border-radius: 0%;
    padding: 5px 10px !important ;
  }

  .btn-cent{
    width: 30%; /* Ancho personalizado */
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Alinear texto en el centro */
}