#ventanaModal .modal-content {
    padding: auto;
    width: 120%;
    height: auto;
    background-image: url('images/modal.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenido */
    background-position: center; /* Centra la imagen en el modal */
  }
.modal-header,.modal-body,.modal-footer{
    border: 0;
}

.modal-footer{
    padding-top: 25px;
}

.modal-footer button{
    width: 55%;
}
.modal-footer .btn {
    padding: 0;
    font-size: 24px; /* Adjust as desired */
  }