.header_section {
    background-color: #151618;
  }

  .espacio-top{
    padding-top: 40px;
  }
  
@media (max-width: 768px) {
    .navbar-nav {
      margin-left: auto;
    }}
    

  
  .btn-orange:hover {
    background-color: darkorange; /* Cambia el color al pasar el ratón sobre el botón */
  }
  
  /* Estilos para el menú desplegable */
  .dropdown-menu {
    display: none; /* Oculta el menú desplegable por defecto */
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Muestra el menú desplegable al pasar el ratón sobre el enlace */
  .dropdown:hover .dropdown-menu {
    display: block;
  }


  
  .container-fluid {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
  }
  
  .slider-text-h2,
  .slider-text-p,
  .btn {
    text-align: center; /* Centra el texto y el botón */
    margin-bottom: 20px; /* Agrega espacio entre los elementos */
  }
/*los banners*/
  .banner-margin-left{
    margin-right: -15px;
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border: unset !important;
    border-radius: unset !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
  }
  .banner-margin{
   
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border: unset !important;
    border-radius: unset !important;
  }
  .banner-margin-right{
    margin-left: -15px;
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border: unset !important;
    border-radius: unset !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }

  .margen-bot strong{
    padding-bottom: 1px;
  }

/* S1 */  
.navbar{
  background-color: #151618 !important;
}
.card-bg:hover {
  background-color: #151618  !important; /* Cambia el color al pasar el ratón sobre el botón */
}



.btn-orange {
  display: inline-block;
  padding: 10px 10px !important;
  background-color: rgb(235, 145, 87);
  color: white;
  border-radius: 2px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.brand-text {
  font-size: 20px;
  margin-left: 22px;
}

.slider-text-h2 h2{
  font-size: 45px;
  color: #ffffff !important;
  text-align: left;
  margin-left: 30px;
  margin-top: 0.5;
  margin-bottom:0.5;
}
.slider-text-p p{
  font-size: 30px;
  color: #ffffff !important;
  text-align: left;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom:0;
}
.d-flex .btn-lg {
  margin-left: auto;  /* Reset default margin */
  margin-left: 50px;
  border-radius: 50px; /* Adjust as needed for desired ovalness */
  border: 5px solid #ffffff;
}
.card-body-reduced-padding {
  padding: 5px 10px;  /* Adjust padding values as needed */
}
/* S2*/
.video-container {

  /* background-image: url(../images/fondo-card.jpg); */
  position: relative;
  padding-left: 50px;  /* Adjust padding as needed for desired margin */
  padding-right: 50px; 
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 768px) {
  .video-container video {
    width: 100%;
    height: auto;
  }
}

/* .video-container::before, .video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust height for desired top/bottom reduction */
 /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); /* Semi-transparent black gradient }*/

/*
.video-container::after {
  top: auto;
  bottom: 0;
} */



/* cards S3*/
.card-bg{
  background-color: #151618;
}
.text-s3 h5{
  font-size: 25px;
  color: #ffffff !important;
  text-align: left;
  margin-bottom:0;
}
.text-s3 p{
  color: #ffffff !important;
  text-align: left;
  margin-top: 0;
  margin-bottom:0;
}
/*************LOGIN STYLE************/

