
[dir=ltr] .pc-screen{
  display: block;
}

[dir=ltr] .table-screen{
  display: none;
}

[dir=ltr] .movil-screen{
  display: none;
}

[dir=ltr] .layout-navbar-mini-fixed-bottom {
  padding-bottom: 0px !important;
}



[dir=ltr] .container-section{
  /*width: 1600px;*/
  width: 90%;
  margin: auto;
}

[dir=ltr] .container-section-1360p{
  width: 1360px;
  margin: auto;
}

[dir=ltr] .container-section-modo{
  /*width: 1600px;*/
  width: 70%;
  margin: auto;
}

[dir=ltr] .container-section-1440p{
  width: 1440px;
  margin: auto;
}

[dir=ltr] .container-center{
  margin: auto;
}

[dir=ltr] .bg-gradient{
  background: rgb(255,164,73);
  background: linear-gradient(126deg, rgba(255,164,73,1) 7%, rgba(255,145,82,1) 28%, rgba(197,23,98,1) 100%);
}


[dir=ltr] .bg-orange{
  background: #ff9152;
  background: rgb(255, 145, 82);
}

[dir=ltr] .bg-purple{
  background: #c51762;
}

[dir=ltr] .bg-cherry {
  background-color: #ffe9db !important; 
}

[dir=ltr] a.bg-cherry:focus,
[dir=ltr] a.bg-cherry:hover,
[dir=ltr] button.bg-cherry:focus,
[dir=ltr] button.bg-cherry:hover {
  background-color: #ffb890 !important;  
}

/* --------------------------------------------*/
/* Títles -------------------------------------*/
/* --------------------------------------------*/

[dir=ltr] .title-home {
  margin-bottom: 16px; /* 1rem */
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  font-family: Oswald, Helvetica Neue, Arial, sans-serif;
}

[dir=ltr] .subTitle-home {
  color: hsla(0, 0%, 100%, .7) !important;
  font-size: 28px;
  line-height: 1.3;
}


/* -------------------------------------------------*/
/* Box ---------------------------------------------*/
/* -------------------------------------------------*/

/*-- Home --*/
[dir=ltr] .box-section-home {
  padding: 120px 0px;
}

[dir=ltr] .box-presentation-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align:right;
}

[dir=ltr] .box-presentation-home h1 {
  color: #fff;
  margin-bottom: 0px;
}

[dir=ltr] .box-presentation-home h4 {
  font-size: 35px;
  color: #fff;
  margin-top: 0px;
}

[dir=ltr] .box-presentation-left-home {
  padding: 20px 10px;
}

[dir=ltr] .box-presentation-right-home {
  padding: 20px 10px;
}

[dir=ltr] .box-presentation-left-home img{
  width: 100%;
  align-items: center;
  padding: 10px;
}

[dir=ltr] .box-presentation-right-home img{
  width: 100%;
  align-items: center;
  padding: 10px;
}

[dir=ltr] .box-presentation-content-home {
  margin-top: 10%;
}

[dir=ltr] .box-presentation-content-home h4{
  font-size: 25px;
  color: #fff;
}

[dir=ltr] .box-presentation-content-home p{
  color: #fff;
}
/*------------*/

/*-- Login --*/
[dir=ltr] .box-plane-login {
  padding: 0px 30px;
}

[dir=ltr] .box-plane-content-login {
  background: #fff; 
  padding: 30px 10px; 
  border-radius: 20px;
}
/*
[dir=ltr] .box-plane-card-login {
  padding: 20px; 
  align-items: center;
}*/


[dir=ltr] .box-plane-card-login {
  padding: 10px; 
  align-items: center;
  background: #e0e0e0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

[dir=ltr] .box-plane-card-login:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

[dir=ltr] .box-plane-card-login ul{
  height: 440px; 
  font-size: 14px; 
  text-align:left;
  left: -10px;
}

[dir=ltr] .box-plane-card-dashboard {
  background-color: #ffe9db; 
  padding: 30px 0px; 
  margin-top: -20px;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

[dir=ltr] .box-plane-card-dashboard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}



[dir=ltr] .box-plane-sesion {
  padding: 0px 30px;
}

[dir=ltr] .box-plane-content-sesion {
  background: #fff; 
  padding: 30px 10px; 
  border-radius: 20px;
}

[dir=ltr] .box-plane-card-sesion {
  align-items: center;
}
/*------------*/


/*-- Modo --*/
[dir=ltr] .box-plane-modo {
  padding: 0px 30px;
}

[dir=ltr] .box-plane-content-modo {
  background: #fff; 
  padding: 30px 10px; 
  border-radius: 20px;
}

[dir=ltr] .box-plane-card-modo {
  padding: 20px; 
  align-items: center;
  background: #e0e0e0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

[dir=ltr] .box-plane-card-modo:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

[dir=ltr] .box-plane-card-modo ul{
  height: 360px; font-size: 15px;
}

/*------------*/




/*-- Courses List --*/
[dir=ltr] .box-course-list {
  background: #f3f3f3; 
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

[dir=ltr] .box-course-list img{
  width: 100%;
}

[dir=ltr] .box-course-list:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}






/* Imagenes ----------------------------------*/

[dir=ltr] .img-home{
  margin-top: 60px;
  width: 170%;
}
[dir=ltr] .img-courses {
  width: 100%;
}

/* Box ---------------------------------------*/

[dir=ltr] .box-white-home-1{
  padding: 15px 0px;
  text-align: center; 
  background: #fff; 
  border-radius: 60px 0px 0px 60px;
}

[dir=ltr] .box-white-home-2{
  padding: 15px 0px;
  text-align: center; 
  background: #fff;
}

[dir=ltr] .box-white-home-3{
  padding: 15px 0px;
  text-align: center; 
  background: #fff;
  border-radius: 0px 60px 60px 0px;
}


















[dir=ltr] .box-thanks{
  padding: 25px;
  text-align: center;
}

[dir=ltr] .box-thanks h1{
  color: #fff;
  font-size: 54px;
}

[dir=ltr] .box-thanks p{
  padding: 0px 0px 15px 0px;
  color: #fff;
  font-size: 30px;
}





[dir=ltr] .active {
  color: #fff;
  background-color: #ff9152;
  border-color: #ff9152;
}

[dir=ltr] .active-orange {
  color: #ff9152;
  background-color: #ff9152;
  border-color: #ff9152;
}


[dir=rtl] .nav-link-course {
  display: block;
  padding: .5rem 1rem
}

[dir=rtl] .nav-link-course:focus,
[dir=rtl] .nav-link-course:hover {
  text-decoration: none
}

[dir=rtl] .nav-link-course.disabled {
  color: #ff9152;
  pointer-events: none;
  cursor: default
}


[dir=rtl] .nav-link.active-orange,
[dir=rtl] .show>.nav-link {
    color: #fff;
    background-color: red;
}






[dir=ltr] .active-black {
  color: #000;
  font-weight: 900;
}

[dir=ltr] .btn-border-black {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 2px 15px;
} 

[dir=ltr] .btn-border-black:hover {
  background-color: #ff9152;
  color: #fff;
  border: 2px solid #fff; 
  border-radius: 30px;
  padding: 2px 15px;
}

/* INPUT PERSONALIZADO */

.file-upload {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload button {
  background-color: #ff9152;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.file-upload button:hover {
  background-color: #000;
  color: #fff;
}

.file-upload .file-name {
  margin-left: 10px;
  font-size: 16px;
}

.custom-control-input-orange {
  background-color: #ff9152;
}

[dir=ltr] .custom-control-input-orange {
  position: absolute;
  z-index: -1;
  opacity: 0;
  color: #fff;
}

[dir=ltr] .custom-control-input-orange:checked~.custom-control-label:before {
  color: #fff;
  border-color: #ff9152;
  background-color: #ff9152;
}

[dir=ltr] .custom-control-input-orange:focus~.custom-control-label:before {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #ff9152;
}

[dir=ltr] .custom-control-input-orange:focus:not(:checked)~.custom-control-label:before {
  border-color: #e7ebee
}

[dir=ltr] .custom-control-input-orange:not(:disabled):active~.custom-control-label:before {
  color: #fff;
  background-color: #c6def6;
  border-color: #c6def6
}

[dir=ltr] .custom-control-input-orange:disabled~.custom-control-label {
  color: #868e96
}

[dir=ltr] .custom-control-input-orange:disabled~.custom-control-label:before {
  background-color: #e9ecef
}

/* FIN INPUT PERSONALIZADO */

[dir=ltr] .alert-cherry {
  color: #2e6092;
  background-color: #ffe9db; 
  border-color: #ffe9db;
}

[dir=ltr] .box-section {
  padding: 40px 0px 60px 0px;
}



[dir=ltr] .title-ia-lyon {
  text-align: left; 
  color: #ff9152; 
  font-size: 1.4rem; 
  padding: 128px 0px 0px 0px;
}

[dir=ltr] .box-chrerry {
  background-color: #ffe9db; 
  padding: 30px 0px; 
  margin-top: -20px;
}

[dir=ltr] .box-chrerry-chat {
  background-color: #ffe9db;
  width: 50%;
  padding: 15px; 
  border-radius: 10px;
  font-size: 14px;
}

[dir=ltr] .box-orange-chat {
  background-color: #fb9a62;
  width: 50%;
  padding: 15px; 
  border-radius: 10px;
  font-size: 14px;
}


[dir=ltr] .tab-vertical {
  padding: 5px 0px 0px 5px;
}

[dir=ltr] .tab-vertical:hover {
  color: #fff;
  background-color: #ff9152;
  border-color: #ff9152;
}

[dir=ltr] .tab-vertical img{
  width: 40px; 
  height: 40px; 
  margin-top: 5px;
}

[dir=ltr] .tab-vertical p{
  font-size: 12px;
  padding: 0px;
}

[dir=ltr] .list-vertical p{
  font-size: 12px;
  padding: 0px;
}

[dir=ltr] .list-vertical hr{
  margin-top: -15px;
}
/*
[dir=ltr] .list-palabras-claves p{
  font-size: 13px;
  padding: 0px;
}*/

[dir=ltr] .span-small{
  font-size: 13px;
  text-align: center;
  padding: 3px 12px;
  background-color: #ff9152;
  border-radius: 10px;
}

[dir=ltr] .btn-small{
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 3px 15px;
  background-color: #ff9152;
  border-radius: 10px;
}

[dir=ltr] .btn-small:hover{
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 3px 15px;
  background-color: #000;
  border-radius: 10px;
}

[dir=ltr] .btn-small-cherry{
  font-size: 12px;
  color: #000;
  text-align: center;
  padding: 3px 15px;
  background-color: #ffb890;
  border-radius: 10px;
}

[dir=ltr] .btn-small-cherry:hover{
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 3px 15px;
  background-color: #000;
  border-radius: 10px;
}

[dir=ltr] .p-small{
  font-size: 12px;
}

[dir=ltr] .p-medium{
  font-size: 15px;
}

[dir=ltr] .p-large{
  font-size: 20px;
  /*color: #ff9152;*/
  color: #000;
  font-weight: 500;
}

[dir=ltr] .text-gris{
  color: #a5a6a5;
}

[dir=ltr] .btn-orange {
  color: #fff;
  background-color: #ff9152;
  border-color: #ff9152;
}

[dir=ltr] .btn-orange:hover {
  color: #fff;
  background-color: #e36e2b;
  border-color: #e36e2b;
}

[dir=ltr] .btn-orange-border {
  color: #ff9152;
}

[dir=ltr] .btn-orange-border:hover {
  color: #fff;
  background-color: #e36e2b;
  border-color: #e36e2b;
}


[dir=ltr] .btn-cherry {
  color: #fff;
  background-color: #ffb890;  
  border-color: #ffb890; 
}

[dir=ltr] .btn-cherry:hover {
  color: #fff;
  background-color: #e7a37c;
  border-color: #e7a37c;
}

[dir=ltr] .btn-cherry-border {
  color: #ffb890; 
}

[dir=ltr] .btn-cherry-border:hover {
  color: #000;
  background-color: #ffb890; 
  border-color: #e7a37c;
}


[dir=ltr] .btn-white {
  color: #000;
  background-color: #fff;  
  border-color: #fff; 
}

[dir=ltr] .btn-white:hover {
  color: #000;
  background-color: #e7a37c;
  border-color: #e7a37c;
}

[dir=ltr] .btn-white-border {
  color: #ffb890; 
}

[dir=ltr] .btn-white-border:hover {
  color: #000;
  background-color: #ffb890; 
  border-color: #e7a37c;
}

[dir=ltr] .btn-gris {
  color: #fff;
  background-color: #a1a1a1;
  border-color: #a1a1a1;
}

[dir=ltr] .btn-orange:hover {
  color: #fff;
  background-color: #e36e2b;
  border-color: #e36e2b;
}

[dir=ltr] .btn-border-white {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 5px;
  text-decoration: none;
  text-transform: uppercase;
}

[dir=ltr] .btn-border-white:hover {
  color: #fff;
}




[dir=ltr] .btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
  border-radius: 8px;
}

[dir=ltr] .btn-black:hover {
  color: #fff;
  background-color: #ff9152;
  border-color: #ff9152;
}


[dir=ltr] .btn-modal {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

[dir=ltr] .btn-modal:hover {
  color: #fff;
  background-color: #171717;
  border-color: #171717;
}

[dir=ltr] .rating:not(:checked) > input{
  position: absolute;
  appearance: none;
}

[dir=ltr] .rating:not(:checked) > label{
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

[dir=ltr] .rating:not(:checked) > label::before{
  content: '★';
}

[dir=ltr] .rating > input:checked + label:hover,
[dir=ltr] .rating > input:checked + label:hover ~ label,
[dir=ltr] .rating > input:checked ~ label:hover,
[dir=ltr] .rating > input:checked ~ label:hover ~ label,
[dir=ltr] .rating > label:hover ~ input:checked ~ label {
  color: yellow;
}

[dir=ltr] .rating:not(:checked) > label:hover,
[dir=ltr] .rating:not(:checked) > label:hover ~ label {
  color: yellow;
}

[dir=ltr] .rating > input:checked ~ label {
  color: yellow;
}

[dir=ltr] .js-fullheight {
  height: 100vh; /* 100% de la altura de la ventana gráfica */
    display: flex;
}

[dir=ltr] .img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo en la ventana gráfica */
  filter: brightness(110%) saturate(120%);
}

[dir=ltr] .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[dir=ltr] .card-new{
  border-radius: 10px;
  padding: 25px;
  width: 120%;
  height: auto;
  align-self: center !important;
  justify-content: center !important;
}


[dir=ltr] .bg-black-transparent{
  background-color: rgba(255,255,255,0.8);
}


[dir=ltr] .card-new h5{
  font-family: "Rubik", Bold;
  font-weight: 700;
  font-size: 40px;
}
[dir=ltr] .card-new p{
  font-family: "Rubik", Light;
  font-weight: 300;
  font-size: 25px;
}

[dir=ltr] .card-new a{
  font-family: "Rubik", Medium;
  font-weight: 500;
  font-size: 25px;
}

[dir=ltr] .form-a a {
  margin: 0;
  color:rgb(135, 32, 82); 
  font-size: 0.9em !important; /* Increase font size */
  margin-left: 75% !important;
}

[dir=ltr] input:focus, input:valid {
  color:#872152; 
  border: 2px solid #872052; 
}


[dir=ltr] input::placeholder {
  color:#872152; 
}




[dir=ltr] .btn-border-white-radius-10 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  color: #000;
  background: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 5px;
  text-decoration: none;
  text-transform: uppercase;
}

[dir=ltr] .btn-border-white-radius-10:hover {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  color: #fff;
  background: #000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #000 5px;
  text-decoration: none;
  text-transform: uppercase;
}



[dir=ltr] .badge-orange{
  background: orange;
  color: #fff;
  padding: 5px 7px;
}






/*  RESPONSIVE  */

@media (max-width: 768px) {

  [dir=ltr] .imgHome{
    margin-top: 10px;
    width: 100%;
  }
  
  [dir=ltr] .box-white-home-1{
    text-align: center; 
    background: #fff; 
    border-radius: 60px 60px 0px 0px;
  }

  [dir=ltr] .box-white-home-3{
    text-align: center; 
    background: #fff;
    border-radius: 0px 0px 60px 60px;
  }
}
  






















































































[dir=ltr]  .card-transparent {
background-color: transparent !important;
border: none; /* Elimina el borde */
}

/* Alinea el card a la derecha */
.align-right {
text-align: left;
}


[dir=ltr]  .ancho-a {
width: 100%;
margin: 180px 60px; /* Margen superior e inferior de 50px y margen derecho e izquierdo de 10px */
/* Puedes ajustar estos valores según tus necesidades */
position: relative; /* Posición relativa para permitir el posicionamiento absoluto */
}
[dir=ltr]  .ancho-b {

/* Puedes ajustar estos valores según tus necesidades */
position: relative; /* Posición relativa para permitir el posicionamiento absoluto */
}

/* Posiciona el contenedor más a la derecha */
[dir=ltr]  .ancho::after {
content: ""; /* Contenido pseudo-elemento */
position: absolute; /* Posicionamiento absoluto */
top: 0;
right: -30px; /* Distancia adicional a la derecha */
bottom: 0;
width: -30px !important; /* Ancho del espacio adicional */
background-color: white; /* Color del espacio adicional */
}




[dir=ltr]  .btn-cent{
width: 90%; /* Ancho personalizado */
margin: 0 auto; /* Centrar horizontalmente */
text-align: center; /* Alinear texto en el centro */
}

[dir=ltr]  .btn {
padding: 5px 45px; /* Tamaño del botón */
margin: 5px; /* Margen entre botones */
border: none; /* Eliminar borde */
cursor: pointer;
font-size: 21px; /* Tamaño de la fuente */
}

[dir=ltr]  .btn-pagar {
background-color: rgb(234,144,97);  /* Color de fondo verde */
color: white; /* Color del texto blanco */
}

[dir=ltr]  .btn-volver {
background-color: rgb(155, 151, 148); /* Color de fondo rojo */
color: white; /* Color del texto blanco */
}

[dir=ltr]  .card-body {
margin: 0; /* Elimina el margen */
}


[dir=ltr]  .card-body-transparent {
  background-color: rgba(255,255,255,0.5);
  margin: 0; /* Elimina el margen */
}


[dir=ltr]  .text-login h5{
font-size: 4.1rem  !important;
color: #ffffff !important;
font-family: "Rubik", Medium;
font-weight: 500;
text-align: left;
margin-bottom:0;
}
[dir=ltr] .text-login p{
color: #ffffff !important;
margin-top: 0;
margin-bottom:0;
font-family: "Rubik", Light;
font-weight: 300;
line-height: 1.5; /* Increase line spacing for readability */
text-align: justify; /* Justify text to fill the container */
}
[dir=ltr] .text-left h5{
font-family: "Rubik", Bold;
font-weight: 700;
font-size: 40px;
}
[dir=ltr] .text-left p{
font-family: "Rubik", Light;
font-weight: 300;
font-size: 25px;
}

[dir=ltr] .form-login{
font-family: "Rubik", Medium;
font-weight: 500; 
}

/***pruba**/
[dir=ltr] .container-fluid {
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

/***formulario**/
[dir=ltr] .form-login input{
width: 100%;  
font-size: 16px;
color: black;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid black;
outline: none;
flex: 5px;
}    

[dir=ltr] .form-row > div {
  flex: 1;
  margin-right: 10px; 
}
[dir=ltr] .form-select{
  font-family: "Rubik", Medium;
  font-weight: 500; 
}

[dir=ltr] .form-select select{

  width: 100%;  
  font-size: 16px;
  color: black;
  margin: 0;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  flex: 5px;
}



[dir=ltr] .field-icon {
position: absolute;
top: 50%;
right: 25px;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
color: black 
} 

[dir=ltr] .form-group button.btn-primary.submit {
  margin-top: 30px;
  background-color: rgb(135, 32, 82) !important; /* Primary blue color */
  color: white !important; /* White text color */
  border-color: #007bff; /* Maintain border color consistency */
  text-align: center; /* Center the text within the button */
  border-radius: 0%;
  padding: 5px 10px !important ;
  font-family: "Rubik", Medium;
  font-weight: 500; 
}  

[dir=ltr] .btn-cent{
  width: 70%; 
  margin: 0 auto; 
  text-align: center;
  padding-bottom: 40px;
}  

[dir=ltr] .form-select{
  font-family: "Rubik", Medium;
  font-weight: 500; 
}

[dir=ltr] .form-select select{

  width: 100%;  
  font-size: 16px;
  color: black;
  margin: 0;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  flex: 5px;
}


[dir=ltr] .text-cuenta p{
color: black !important;
display: inline-block; 
margin-top: 0;
margin-bottom:0;
font-family: "Rubik", Light;
font-weight: 300;
font-size: 25px !important; 

text-align: center; 
}
[dir=ltr] .text-cuenta-b p{
color: black !important;
padding-top: 20px;
display: inline-block; 
margin-top: 0;
margin-bottom:0;
font-family: "Rubik", Light;
font-weight: 300;
font-size: 20px !important; 
text-align: left; 
} 






